@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --font-family: "Outfit", sans-serif;
  --c-white: hsl(0, 0%, 100%);
  --c-light-gray: hsl(212, 45%, 89%);
  --c-grayish-blue: hsl(220, 15%, 55%);
  --c-dark-blue: hsl(218, 44%, 22%);
  --s-mobile: 375px;
  --s-dekstop: 1440px;
  --font-size: 15px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  height: 100vh;
  background-color: var(--c-light-gray);
}

image {
  max-width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 17rem;
  padding: 0.8rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--c-white);
  box-shadow: 0 4px 20px 10px rgba(194, 197, 202, 0.5);
}

.card > img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.content {
  padding: 0.6rem;
}

.lead {
  font-size: 1.1rem;
  color: var(--c-dark-blue);
}

.description {
  font-size: 0.9rem;
  color: var(--c-light-gray);
}
